:root {
	color-scheme: light dark;

	--font-sans: system-ui, ui-sans, sans-serif;
	--font-size: clamp(1.1rem, calc(1.1rem + .25vw), 1.75rem);
	--font-size-small: 80%;

	--border-radius: 4px;
	--gap: 1em;

	--color: #118AB2;
	--color-bg: #ffffff;
	--color-bg-secondary: #eeeeee;
	--color-text: #333333;
	--color-text-muted: #a2a3a5;
	--color-border: #cacaca;
	--color-link: #0076d1;
	--color-green: #8AC926;
	--color-red: #d43939;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg);

  font-size: var(--font-size);
  text-align: left;
  margin-bottom: var(--gap);

  @media (prefers-color-scheme: dark) {
	--color-bg: #2a2a2a;
	--color-bg-secondary: #5c5e62;
	--color-text: #eeeeee;
	--color-text-muted: #a2a3a5;
  }
}

.c {
  max-width: 60em;
  padding: 1em;
  margin: auto;
  font: 1em/1.6;
}

.card,
pre {
  padding: 0.7em;
  border: 1px solid var(--color-border);
}

hr {
  border: 0;
  height: 1px;
  margin-bottom: 1em;
  margin-top: 1em;
  background-image: linear-gradient(
    to right,
    rgba(183, 183, 183, 0.1),
    rgba(183, 183, 183, 183),
    rgba(183, 183, 183, 0.1)
  );
}

h1 {
  color: var(--color);
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  line-height: 100%;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 100%;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-top: var(--gap);
  margin-bottom: 0.5em;
  line-height: 100%;
}

td,
th {
  padding: 0.3em;
  text-align: left;
}

p {
  font-size: 0.5em;
  text-align: left;
}

.caption {
  max-width: 60em;
  font-size: var(--font-size-small);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--gap);
  line-height: 1.5em;
  text-align: center;
}

select {
  height: 3em;
  padding: 0.5em 0.5em;
  margin: 0.7em 0.3em;
  color: #fff;
  background: var(--color);
  border: 0;
  border-radius: var(--border-radius);
}

input[type="text"],
input[type="search"] {
  height: 2em;
  padding: 0.5em 0.5em;
  margin: 0.7em 0.3em;
  border: 0;
  background-color: var(--color-bg-secondary);
  border-radius: var(--border-radius);
}

input[type="password"] {
  width: 10em;
  padding: 0.8em 0.8em;
  margin: 1em 1em;
  border: 0px;
  border-radius: var(--border-radius);
}

.select {
  padding: 0.5em 0.5em;
  margin: 0.7em 0.3em;
  min-width: 10em;
  margin-right: 0.5em;
  border-radius: var(--border-radius);
}

.topcorner {
  position: absolute;
  top: 0.3em;
  right: 1em;
}

.btn {
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #fff;
  border: solid;
  border-radius: var(--border-radius);
  font-weight: bold;
}

.btn.primary {
  color: #fff;
  background-color: var(--color);
  border: solid var(--color);
}

.btn.green {
  color: #fff;
  background: var(--color-green);
  border: solid var(--color-green);
}

.btn.red {
  color: #fff;
  background: var(--color-red);
  border: solid var(--color-red);
}

.btn:hover {
  opacity: 0.6;
}

.center {
  font-size: 1em;
  padding: 1px;
  height: auto;
  text-align: center;
  padding: 0px;
}

/* https://www.imarketinx.de/artikel/responsive-image-gallery-with-css-grid.html */

/* The grid */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The image frame */
.gallery-frame {
  padding: 0.5em;
  font-size: 1rem;
  margin-top: 0.5em;
  text-align: center;
  color: #d9d9d9;
}

/* The images */
.gallery-img {
  top: 0;
  left: 0;
  width: 24em;
  height: 14em;
  border-radius: 5px;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}


/* custum classes */

.map {
  z-index: 0;
  margin: 1.5em auto;
  max-width: 500px;
  height: 350px;
  border-radius: var(--border-radius);
}

.center > img {
	max-width: 100%;
	border-radius: var(--border-radius);
}

.gallery-grid:hover > .gallery-frame:not(:hover) {
	opacity: 0.5;
	transition: all ease-in 0.2s;
}

.gallery-frame a {
	display: inline-block;
	height: auto;
	outline-width: 0.1em;
}

a:not([class]) {
	text-decoration: none;
	text-decoration-color: var(--color-link);
	text-decoration-thickness: 2px;
	text-decoration-skip-ink: auto;
	cursor: pointer;
}

a:hover {
	color: var(--color-link);
}

a:focus {
	outline: 0.1em solid currentColor;
	outline-offset: 0.2em;
}

a:visited {
	color: var(--color-link);
}